<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="abm-horarios.component.css">
</head>
<body>
    <!-- Barra de Menú -->
    <nav class="navbar">
        <ul>
            <li><a href="inicio">Inicio</a></li>
            <li><a href="empresas">Empresas</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </nav>
    <!-- Contenido de la pagina -->
    <H2>Edición de la Base de datos</H2>
    <form class="row g-3">
        
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Confirm edit</button>
        </div>
      </form>

    <footer class="footer">
        <p>©ADEv. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
