* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

.btn-group{
    display: flexbox;
    margin: 5px;
    font-size: 18px; 
    padding: 12px 15px;
    background-color: #f64e4e;
}
.btn-group .btn{
    background-color: #f64e4e;
    border: none;
}
.btn-group .dropdown-menu .dropdown-item:hover {
    background-color: #007bff; /* Cambiar el color de fondo al pasar el mouse */
    color: white; /* Cambiar el color del texto */
}


p {
    font-size: 16px;
    margin-bottom: 20px;

}

.company p {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0;
}


/* Estilo para centrar el contenido dentro del div de selector */
.selector {
    display: flex;
    flex-direction: column;  /* Orientación vertical de los elementos dentro del div */
    align-items: center;  /* Centra el contenido horizontalmente */
    justify-content: center;  /* Centra el contenido verticalmente */
    margin: 10px 0;  /* Espaciado superior e inferior */
  }

.selector p{
    font-weight: bold;
    text-decoration: underline;
}
  
  .ngb-timepicker {
    width: 100%;  /* Ancho completo */
    display: block;  /* Asegura que cubra el ancho del div */
  }
  /* Estilo para el botón "Buscar" */
.btn-primary {
    padding: 12px 20px; /* Aumenta el padding para hacer el botón más grande */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    border-radius: 5px; /* Redondea las esquinas del botón */
    width: auto; /* Mantiene el ancho del botón dinámico */
}


