<div class="btn-group">
  <button class="btn btn-secondary btn-lg" type="button" [innerText]="selectedCiudadOrigen"></button>
  <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" (click)="onSelectCiudadOrigen('Esperanza')">Esperanza</a></li>
    <li><a class="dropdown-item" (click)="onSelectCiudadOrigen('Santa Fe')">Santa Fe</a></li>
    <li><a class="dropdown-item" (click)="onSelectCiudadOrigen('Rosario')">Rosario</a></li>
  </ul>
</div>

<div class="btn-group">
  <button class="btn btn-secondary btn-lg" type="button" [innerText]="selectedCiudadDestino"></button>
  <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" (click)="onSelectCiudadDestino('Esperanza')">Esperanza</a></li>
    <li><a class="dropdown-item" (click)="onSelectCiudadDestino('Santa Fe')">Santa Fe</a></li>
    <li><a class="dropdown-item" (click)="onSelectCiudadDestino('Rosario')">Rosario</a></li>
  </ul>
</div>


<p>
  Seleccione el horario deseado de partida y el horario máximo deseado de llegada
</p>
<div class="selector" id="salida">
  <p>HORARIO DE SALIDA</p>
  <ngb-timepicker [(ngModel)]="timeSalida"></ngb-timepicker>
  <hr />
  
</div>
<div class="selector" id="llegada">
  <p>HORARIO DE LLEGADA</p>
  <ngb-timepicker [(ngModel)]="timeLlegada"></ngb-timepicker>
  <hr />
  
</div>

<!-- Botón para buscar resultados -->
<button class="btn btn-primary" (click)="searchSchedule()">Buscar</button>

<h2>Resultados:</h2>
@for (schedule of schedules; track schedule.id) {
<div>
  <ul>
    <li>
      <strong>Ruta:</strong> {{ schedule.ruta.ciudadOrigen.nombre }} a {{ schedule.ruta.ciudadDestino.nombre }}<br>
      <strong>Hora de salida:</strong> {{ schedule.horaSalida }}<br>
      <strong>Hora de llegada:</strong> {{ schedule.horaLlegada }}<br>
      <strong>Empresa:</strong> {{ schedule.empresa.nombre }}<br>
      <hr />
    </li>
  </ul>
</div>
} @empty {
<p>No hay resultados disponibles para los criterios seleccionados.</p>
}