
<!DOCTYPE html>
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Empresas</title>
        <link rel="stylesheet" href="contacto.component.css">
    </head>
    <body>
       <!-- Barra de Menú -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio">Inicio</a></li>
                <li><a href="empresas">Empresas</a></li>
                <li><a href="contacto">Contacto</a></li>
            </ul>
        </nav>
       <!-- Contenido de la pagina -->       
       
    <div class="container mt-4">
        <h1 class="text-center">CONTACTO</h1>
        <h3>Escribinos tus dudas, comentarios o ideas.
            Queremos leerte!
        </h3>
    

    <div class="row mb-3">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Ingresá tu email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="ejemplo@email.com">
        </div>
      </div>
      <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Ingresá tu nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="colFormLabel" placeholder="Nombre">
        </div>
      </div>
      <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Ingresá tu Apellido</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="colFormLabel" placeholder="Apellido">
        </div>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Dejános acá tu comentario" id="floatingTextarea2" style="height: 70px"></textarea>
      </div>
    <div class="button">
        <button type="button">Enviar</button>
    </div>
    </div>
       <!-- Footer -->
       <footer class="footer">
        <p>©ADEv. Todos los derechos reservados.</p>
      </footer>
    </body>
</html>

