/* Estilo del cuadro de texto */
.form-floating {
  padding: 8px;
  margin-bottom: 15px; /* Espacio inferior para mejor diseño */
  border: 1px solid #ddd; /* Un borde suave */
  border-radius: 5px; /* Redondeo de bordes */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo del botón de envío */
.button button {
  background-color: #7fdd81;
  color: #fff; /* Texto en blanco */
  padding: 10px 15px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Redondeo de bordes */
  cursor: pointer; /* Indicador de que es clickeable */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transition: background-color 0.3s ease; /* Transición de color para el efecto de hover */
}

.button button:hover {
  background-color: #6cb771; /* Cambio de color al pasar el mouse */
}

/* Estilo de los inputs */
input[type="email"], input[type="text"], textarea {
  width: 100%; /* Ancho total del elemento */
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd; /* Borde claro */
  border-radius: 5px; /* Redondeo de bordes */
  box-sizing: border-box; /* Ajuste del padding y border */
  font-size: 16px; /* Tamaño de fuente para mejorar la legibilidad */
}

input[type="email"]:focus, input[type="text"]:focus, textarea:focus {
  border-color: #66afe9; /* Borde de enfoque */
  outline: none; /* Eliminar el borde azul del navegador */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5); /* Sombra de enfoque */
}
