<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
    <link rel="stylesheet" href="empresas.component.css">
</head>
<body>
    <!-- Barra de Menú -->
    <nav class="navbar">
        <ul>
            <li><a href="inicio">Inicio</a></li>
            <li><a href="empresas">Empresas</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </nav>

    <!-- Contenido de la página -->
    <div class="container" id="empresas">
        <h1>Empresas:</h1>
        <p>Estas son las empresas que hay disponibles en este momento para los recorridos, esta lista puede sufrir cambios sin previo aviso.</p>

        <section class="route">
            <h2>Trayecto Esperanza - Santa Fe / Santa Fe - Esperanza:</h2>
            <div class="company">
                <p> Nece - 3496657322 - Alem 1907 </p>
            </div>
            <div class="company">
                <p> Ruta 70 - 341775569 - Cerrito 453 </p>
            </div>

        <h2>Trayecto Santa Fe - Rosario / Rosario - Santa Fe:</h2>
            <div class="company">
                <p>Tata Rapido - 341556889 - Pellegrini 2342 </p>
            </div>
            <div class="company">
                <p>Micro - 232312312 - Suipacha 4224 </p>
            </div>
        </section>
    </div>
    <footer class="footer">
        <p>©ADEv. Todos los derechos reservados.</p>
      </footer>
</body>
</html>
