<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
    <link rel="stylesheet" href="login-admins.component.css">
</head>
<body>
    <!-- Barra de Menú -->
    <nav class="navbar">
        <ul>
            <li><a href="inicio">Inicio</a></li>
            <li><a href="empresas">Empresas</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="abm-horarios">Editar</a></li>
        </ul>
    </nav>
    <!-- Contenido de la pagina -->
    <div class="container" id="login-admins">
    <H2>Inicio sesión Admins</H2>
    <form class="row g-3">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
      </form>
    </div>
    <footer class="footer">
        <p>©ADEv. Todos los derechos reservados.</p>
    </footer>
</body>
</html>



