<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
    <link rel="stylesheet" href="inicio.component.css">
    
</head>
<body>
    <!-- Barra de Menú -->
    <nav class="navbar">
        <ul>
            <li><a href="inicio">Inicio</a></li>
            <li><a href="empresas">Empresas</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="login-admins">Admin</a></li>
        </ul>
    </nav>

    <!-- Contenido de la página -->
   
    
    <div class="container" id="inicio">
      <div class="logo-container">
        <i class="fa-solid fa-bus"></i>
      </div>
     <p>
      Seleccione la ciudad de partida y la ciudad de llegada
    </p>
    
    <div class="btn-group">
        <button class="btn btn-secondary btn-lg" type="button">
          Ciudad Origen
        </button>
        <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Esperanza</a></li>
            <li><a class="dropdown-item" href="#">Santa Fe</a></li>
            <li><a class="dropdown-item" href="#">Rosario</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-secondary btn-lg" type="button">
          Ciudad Destino
        </button>
        <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Esperanza</a></li>
            <li><a class="dropdown-item" href="#">Santa Fe</a></li>
            <li><a class="dropdown-item" href="#">Rosario</a></li>
        </ul>
      </div>
      <p>
        Seleccione el horario deseado de partida y el horario maximo deseado de llegada
      </p>
      <div class="selector" id="salida">
        <ngb-timepicker [(ngModel)]="timeSalida"></ngb-timepicker>
        <hr />
        <p>HORARIO DE SALIDA</p>
      </div>
      <div class="selector" id="llegada">
        <ngb-timepicker [(ngModel)]="timeLlegada"></ngb-timepicker>
        <hr />
        <p>HORARIO DE LLEGADA</p>
      </div>
      
     <!-- <pre>Selected time: {{ time | json }}</pre>  -->
    </div>
</body>
<!-- Footer -->
<footer class="footer">
    <p>©ADEv. Todos los derechos reservados. 2024</p>
  </footer>
  
</html>

