/* Barra de menú */
.navbar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: #333; 
    padding: 10px 0; 
  }
  
 

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #ddd;
}

/* Otros estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
    background: linear-gradient(to right, #bcbcbc, #e6e6e6);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}
/* Cuadros de seleccion de ciudad */
.btn-group{
    display: flexbox;
    margin: 5px;
    font-size: 18px; 
    padding: 12px 15px;
    background-color: #f64e4e;
}
.btn-group .btn{
    background-color: #f64e4e;
    border: none;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;

}

.route {
    margin-bottom: 30px;
}

.route h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.company p {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0;
}
/* Selector de horas */
#salida {
    display: flex;
    margin: 3px;
    background-color: white;
}
#salida p{
    padding: 20px;
    padding: 20px;
    font-size: 18px; 
    font-weight: bold; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#llegada{
    display: flex;
    margin: 3px;
    background-color: white;
}
#llegada p{
    padding: 20px;
    font-size: 18px; 
    font-weight: bold; 
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilo del footer */
.footer {
    background-color: #060505; 
    color: white;             
    text-align: center;       
    padding: 5px 0 ;           
    position: fixed;          
    bottom: 0;                
    width: 100%;              
    height: 20px; 
    left: 0;                  
  }

.footer p {
    font-size: 10px ;         
}
  